* {
    border: 1px solid red;
}

.fa-dumbbell {
    font-size: 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.brand-color {
    color: orange;
    display: contents;
}

.navbar-toggler {
    border-color: rgba(255,255,255,.5);
}

.navbar-toggler:focus, .navbar-toggler:hover {
    box-shadow: 0 0 0 0.2rem;
}

.banner-image {
    height: 400px;
    object-fit: cover;
    object-position: 50% 30%;
}

.about-banner-image {
    height: 400px;
    width: 100vw;
    object-fit: cover;
    object-position: 50% 80%;
}

.sign-in-container {
    width: 300px;
    max-width: 85%;
}

.sign-in-container input:not([type=submit]) {
    width: 100%;
    border: 1px solid black;
}

#toast {
    display: none;
    margin-top: 3rem;
    background: gray;
    transition: opacity 2s ease;
    height: 40px;
}

#sign-out-item {
    display: none;
}

.mt-6 {
    margin-top: 4rem;
}

.mb-6 {
    margin-bottom: 4rem;
}

.w-80 {
    width: 80%;
}

.rounded-lg {
    border-radius: 10px;
}

.map-embed {
    border: 0;
    max-width: 100% !important;
    max-height: 350px;
}

/* Custom scrollbar for gallery */
.overflow-auto::-webkit-scrollbar {
    width: 20px;
}
.overflow-auto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.overflow-auto::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: white;
}

@media only screen and (min-width: 992px) {
    .nav-item {
        text-align: left;
    }
    .banner-image {
        height: 100vh;
        object-position: 50% 50%;
    }
    .about-banner-image {
        height: 100vh;
        object-position: 50% 50%;
    }
    .map-embed {
        border: 0;
        max-width: 100% !important;
        max-height: 450px;
    }
}